@import 'vendor/casper';
@import 'syntax';

// Overwrite some styles from casper.css
pre {
  background: transparent;
  border-style: none;
  padding: initial;
}
.imagen-blog {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  margin-bottom: 20px;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

