---
title: Catalogo de productos
layout: page
description: "Catalogo de productos de Gardenweb"
date:  2015-06-03
tags: catalogo
cover: catalogo-de-productos.jpg
---

- data.blog.each do |familia|
  %div{:href=>familia.codfam} 
    =familia.desfam
      %ul
        - familia.subdamilias do |subfamilia|
          %li
            =subfamilia.descripcion
      

